{% extends "base.html" %} {% block body %}
<div class="row">
  <!-- Post Content Column -->
  <div class="col-lg-8">
    <!-- Title -->
    <h3 class="mt-4">{{project.title}}</h3>

    <!-- Author -->
    <p class="lead">{{project.author}} tarafından yayınlandı</p>

    <hr />

    <!-- Date/Time -->
    <p>{{project.created_date}}</p>

    <hr />

    <!-- Preview Image -->
    {% if project.project_image %}
    <img class="img-fluid rounded" src="{{project.project_image.url}}" alt="" />
    {% endif %}

    <hr />

    <!-- Post Content -->
    <p class="lead">{{project.content|safe}}</p>

    <hr />
  </div>
</div>

{% endblock body %}
