{% extends "base.html" %} {% block body %}

<div class="jumbotron text-center">
  <h3>Bloğuma Hoşgeldiniz</h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, rem
    excepturi iste corporis ratione omnis quia numquam sit quaerat hic
    voluptatum, velit harum exercitationem molestiae dolorem quam rerum facere
    reiciendis odio saepe. Eum natus praesentium saepe non mollitia eos, optio
    numquam repellendus quam nisi tenetur, quasi iste deleniti, totam iusto!
  </p>
</div>

<p>afasfasf</p>
{% endblock body %}
